<!DOCTYPE html>
<html>
<head>
    <title>起名星</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/jquery.mobile-1.4.5.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">

    <script src="../static/jquery-1.11.2.js"></script>
    <script src="../static/jquery.mobile-1.4.5.js"></script>
    <script src="../static/Chart.js"></script>
    <script src="../static/namebb.js"></script>

</head>
<body>

<!-- Start of first page: #one -->
<div data-role="page" id="mainPage">
    <div data-role="header">
        <h1>起名星-宝宝版</h1>
        <a href="#moreSetting" data-icon="bars" data-iconpos="notext">Menu</a>
    </div>
    <!-- /header -->

    <div role="main" class="ui-content">
        <div style="text-align: center;">
            <div id="babyName">
                <!--<div style="float: left">-->
                <!--<div id="babyName0" class="babyName0"></div>-->
                <!--<div id="babyNamePinYin0" class="babyNamePinYin0"></div>-->
                <!--</div>-->

                <!--<div style="display: inline-block;">-->
                <!--<div id="babyName1" class="babyName1"></div>-->
                <!--<div id="babyNamePinYin1" class="babyNamePinYin1"></div>-->
                <!--</div>-->

                <!--<div style="float: right;">-->
                <!--<div id="babyName2" class="babyName2"></div>-->
                <!--<div id="babyNamePinYin2" class="babyNamePinYin2"></div>-->
                <!--</div>-->

                <!--<div style="clear:both">-->
                <!--</div>-->
            </div>
        </div>


        <div style="clear:both"></div>

        <!--<div style="background: green;height: 100px">-->
        <div style="width: 100px;margin-left: auto;margin-right: auto" ;>
            <button id="nextName" class="ui-btn">下一个</button>
        </div>

        <div style="margin-left: auto;margin-right: auto;margin-top: 40px">
            <canvas id="myChart" width="200" height="200"
                    style="margin-left: auto;margin-right:auto;display: block"></canvas>
        </div>
    </div>


    <div data-role="panel" data-position-fixed="true" data-display="overlay" id="moreSetting">
        <form>
            <fieldset id="gender" data-role="controlgroup" data-type="horizontal" data-mini="true">
                <input type="radio" name="gender" id="male" value="male">
                <label for="male">男宝宝</label>
                <input type="radio" name="gender" id="female" value="female">
                <label for="female">女宝宝</label>
                <input type="radio" name="gender" id="gender_both" value="both" checked="checked">
                <label for="gender_both">还不知道呢</label>    
            </fieldset>
        </form>
        <form>
            <fieldset id="wordCount" data-role="controlgroup" data-type="horizontal" data-mini="true">
                <input type="radio" name="wordCount" id="twoWords" value="1">
                <label for="twoWords">单字</label>
                <input type="radio" name="wordCount" id="threeWords" value="2">
                <label for="threeWords">双字</label>
                <input type="radio" name="wordCount" id="wordCountBoth" value="0" checked="checked">
                <label for="wordCountBoth">都行</label>
            </fieldset>
        </form>
    </div>

</div>
<!-- /content -->

<!--<div data-role="footer" data-theme="a">-->
<!--<h4>Page Footer</h4>-->
<!--</div>-->
<!-- /footer -->
</div>
<!-- /page one -->
<!-- Start of third page: #popup -->
<div data-role="page" id="settingPage">

    <div data-role="header">
        <h1>起名星-宝宝版</h1>
    </div>
    <!-- /header -->

    <div role="main" class="ui-content jqm-content">
        <div>
            <label for="babyXingText">宝宝姓什么：</label>
            <input type="text" name="babyXingText" id="babyXingText" placeholder="赵钱孙李周吴郑王" value="">
        </div>
        <div>
            <form>
                <fieldset id="gender2" data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <legend>宝宝性别:</legend>
                    <input type="radio" name="gender" id="male2" value="male">
                    <label for="male2">男宝宝</label>
                    <input type="radio" name="gender" id="female2" value="female">
                    <label for="female2">女宝宝</label>
                    <input type="radio" name="gender" id="gender_both2" value="both" checked="checked">
                    <label for="gender_both2">还不知道呢</label>    
                </fieldset>

            </form>
        </div>
        <div>
            <form>
                <fieldset id="3wordCount" data-role="controlgroup" data-type="horizontal" data-mini="true">
                    <legend>名字字数:</legend>
                    <input type="radio" name="wordCount" id="twoWords2" value="1">
                    <label for="twoWords2">单字</label>
                    <input type="radio" name="wordCount" id="threeWords2" value="2">
                    <label for="threeWords2">双字</label>
                    <input type="radio" name="wordCount" id="wordCountBoth2" value="0" checked="checked">
                    <label for="wordCountBoth2">都行</label>
                </fieldset>
            </form>
        </div>

        <div>
            <button id="settingOk" class="ui-btn" disabled="disabled">马上去找名字!</button>
            <!--<a href="#mainPage" data-rel="back" data-role="button" data-inline="true" data-icon="back">马上去找名字!</a>-->
        </div>
    </div>
    <!-- /content -->

    <!--<div data-role="footer">-->
    <!--<h4>Page Footer</h4>-->
    <!--</div>&lt;!&ndash; /footer &ndash;&gt;-->
</div>
<!-- /page popup -->



</body>
<
</html>