<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/jquery.mobile-1.4.5.css">


    <script src="../static/jquery-1.11.2.js"></script>
    <script src="../static/jquery.mobile-1.4.5.js"></script>

</head>
<body>

<div data-role="page" id="settingPage">
    <div data-role="header">
        <h1>HELLO</h1>
    </div>
    <!-- /header -->

    <div role="main" class="ui-content">
        <h2>Horizontal group</h2>

        <p>To make a horizontal button set, add the <code> data-type="horizontal"</code> to the <code>fieldset</code>.</p>

        <div data-demo-html="true">
            <form>
                <fieldset data-role="controlgroup" data-type="horizontal">
                    <legend>Horizontal:</legend>
                    <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2a" value="on" checked="checked">
                    <label for="radio-choice-h-2a">两个字</label>
                    <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2b" value="off">
                    <label for="radio-choice-h-2b">三个字</label>
                    <input type="radio" name="radio-choice-h-2" id="radio-choice-h-2c" value="other">
                    <label for="radio-choice-h-2c">都行</label>
                </fieldset>
            </form>
        </div><!--/demo-html -->
    </div>
</div>

</body>
</html>